<div class="container" style="padding-top:100px">
    <form action="/item/create" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputPassword1">제품이름</label>
        <input class="form-control"placeholder="제품이름을 입력해주세요." name="name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">가격</label>
        <input class="form-control" placeholder="가격을 입력해주세요." name="price">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">브랜드</label>
        <input class="form-control" placeholder="브랜드를 입력해주세요." name="brand">
      </div>
      
      <!--만기일 duedate로 설정하는 gem하고나서 수정하기-->
      <div class="form-group">
        <label for="exampleInputPassword1">만기일</label>
        <input class="form-control" type="integer" placeholder="만기일을 입력해주세요." name="duedate">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">URL</label></label>
        <input class="form-control" placeholder="URL을 입력해주세요." name="url">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">설명</label>
        <input class="form-control" placeholder="제품설명" name="content">
      </div>
      <label for="exampleInputPassword1">카테고리분류</label>
      <select name="category">
        <option value="cosmetic">cosmetic</option>
        <option value="fashion">fashion</option>
        <option value="shoes">shoes</option>
        <option value="etc">etc</option>
      </select><hr>
      <div class="form-group">
      <label for="exampleInputFile">제품 사진</label>
      <input type="file" id="exampleInputFile" name="image">
      <p class="help-block">제품사진을 올려주세요.</p>
      </div>
    
      <button type="submit" class="btn btn-default">Submit</button><br><br><br>
    </form>
</div>